*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
  display: block;
}
h1,h2,h3,h4,h5{
  font-family: 'kanit';
}
.title{
  margin-top: 50px;
  font-weight: 500;
  font-size: 60px;
}
.nav-container ul{
  width: 600px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  list-style: none;
  padding: 40px;
}
.nav-container li{
  font-family: 'kanit';
  font-size: 20px;
  cursor: pointer;
}
.nav-container a{
  color: white;
}
.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.note-container{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  gap: 20px;
}
.note-box{
  background-color: white;
  color: black;
  padding: 15px;
  border-radius: 10px;
  max-width: 600px;
}
.icon{
  display: flex;
  justify-content:flex-end;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}
i{
  cursor: pointer;
}
.fa-trash{
  color: red;
}
.fa-pen{
  color: blue;
}
.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.form-container form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-container h3{
  font-weight: 400;
}
.form-container input{
  width: 400px;
  height: 40px;
  font-family: 'kanit';
}
.form-container textarea{
  width: 400px;
  height: 80px;
  font-family: 'kanit';
}
.form-container button{
  font-family: 'kanit';
}
.form-container p{
  font-family: 'kanit';
}
.confirmPass{
  color: red;
}